<div class="row">
    <table class="table table-striped">
        <thead>
        <tr><th colspan="4">Bills</th></tr>
        </thead>
        <tbody ng-repeat="bill in billsList">

        <tr ng-click="click(bill)">
            <td colspan="4">{{bill.title}}</td>
        </tr>
        <tr class="bill-info" ng-show="bill.showInfo">
            <td colspan="2">{{bill.sponsor.name}}</td>
            <td colspan="2">{{bill.current_status_label}}</td>
        </tr>
        </tbody>
    </table>
</div>