<div class="row home-view">
    <div class="panel panel-default" ng-repeat="list in sunlightList">
        <div class="panel-heading">
            <h4 class="panel-title" ng-click="isCollapsed = !isCollapsed">
                    Title: {{list.official_title}}
            </h4>
        </div>
        <div collapse="isCollapsed">
            <div class="panel-body">Sponsor Name: {{list.sponsor.first_name}} {{list.sponsor.last_name}}
                <br><a ng-href="{{list.urls.congress}}">For more info, click here</a>
            </div>
        </div>
    </div>




<!--    <table class="table table-striped">
        <thead>
        <tr><th colspan="4">Bills</th></tr>
        </thead>
        <tbody ng-repeat="list in sunlightList">

        <tr ng-click="click(list)">
            <td colspan="4">{{list.official_title}}</td>
        </tr>
        <tr class="bill-info" ng-show="list.showInfo">
            <td colspan="2">{{list.sponsor.first_name}} {{list.sponsor.last_name}}</td>
            <td colspan="2"><a ng-href="{{list.urls.congress}}">More info, click here</a></td>
        </tr>
        </tbody>
    </table> -->

</div>