<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <h1 class="page-header">
                    Your Representative
                </h1>
            </tr>
        </thead>
        <tbody dir-paginate="rep in repList | itemsPerPage: 20" total-items="totalReps">

        <tr ng-click="click(rep)">
            <td colspan="4">{{rep.firstname}} {{rep.lastname}}</td>
        </tr>
        <tr class="bill-info" ng-show="rep.showInfo">
            <td colspan="2">{{rep.link}}</td>
            <td colspan="2"><a ng-href="{{list.urls.congress}}">More info, click here</a></td>
        </tr>
        </tbody>
    </table>
    <hr>
    <div class="text-right">
        <dir-pagination-controls max-size="5" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
    </div>
</div>