<div class="row">
    <table class="table table-striped">

        <thead>
        <tr>
            <h1 class="page-header">
                Your Bill
            </h1>
        </tr>
        </thead>

        <tbody ng-repeat="bill in sunlightList">

        <tr ng-click="click(bill)">
            <td colspan="4">{{bill.official_title}}</td>
        </tr>
        <tr class="bill-info" ng-show="bill.showInfo">
            <td colspan="2">{{bill.sponsor.firstname}} {{bill.sponsor.lastname}}</td>
            <td colspan="2">{{bill.current_status_label}}</td>
        </tr>
        </tbody>

    </table>
</div>